@import "../../colors.scss";

form{

}

form{
  display: flex;
  flex-direction: column;
  input {
    border: $fancyBlue 2px solid;
    border-radius: 7px;
    margin: 0 auto;
    padding: 1rem;
    height: 2rem;
    box-shadow: black;
    &:focus{
      outline: $fancyBlue;
    }
  }
  button{
    margin-top: 1rem;
  }
}
